.benefits {
    margin-bottom: 180px;
    
    h2 {
        font-family: 'IBM Plex Sans';
        font-size: 48px;
        font-weight: 700;
        margin: 0;
        margin-bottom: 36.5px;
        width: 553px;
    }

    .content {
        display: flex;
        justify-content: space-between;

        .imageBlocks {
            display: flex;
            justify-content: space-between;
            width: 868px;

            .imageBlockOne {
                width: 418px;
                img {
                    margin-bottom: 50px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .imageBlockTwo {
                display: flex;
                align-items: center;
            }
        }

        .textBlock {
            width: 824px;
            
            .benefit {
                height: 237px;
                padding: 30px;
                box-sizing: border-box;
                margin-bottom: 5px;
                .benefitTitle{
                    display: flex;
                    align-items: center;
                    margin-bottom: 11px;
                    h4 {
                        font-size: 36px;
                        font-weight: 700;
                        margin: 0;
                        margin-left: 16px;
                    }
                }
                p {
                    font-size: 24px;
                    font-weight: 400;
                    margin: 0;
                    width: 678px;
                }
            }
        }
    }
}