.program {
    width: 100%;
    margin-top: 173px;
    display: flex;
    justify-content: space-between;

    .imageBlock {
        position: relative;
        width: 715px;
        .banner {
            width: 566px;
            height: 675px;
            background-color: #D1F5FF;
            border-radius: 30px;
            img {
                margin-top: 35px;
                margin-left: 6px;
            }
        }
        .imgLaptop {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%)
        }
    }

    .contentBlock {
        h2 {
            font-family: 'IBM Plex Sans';
            font-size: 48px;
            font-weight: 700;
            margin: 0;
            margin-top: 22.5px;
            margin-bottom: 48px;
        }
        .item {
            box-sizing: border-box;
            border: 1px solid #F0502D;
            border-radius: 30px;
            margin-bottom: 36px;
            display: flex;

            &:last-child {
                margin-bottom: 0;
            }

            img {
                margin-right: 16px;
            }
            p {
                font-size: 24px;
                font-weight: 400;
                margin: 0;
            }
        }

        #item1 {
            width: 745px;
            padding: 30px 16.5px;
        }
        #item2 {
            width: 746px;
            padding: 30px 13.5px;
            margin-left: 148px;
        }
        #item3 {
            width: 713px;
            padding: 30px 19.5px;
            margin-left: 299px;
        }
    }
}